@font-face {
    font-family: 'kayak_sansregular';
    src: url('../fonts/kayak_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sansbold_italic';
    src: url('../fonts/kayak_sans_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sansbold';
    src: url('../fonts/kayak_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sanslight_italic';
    src: url('../fonts/kayak_sans_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sanslight';
    src: url('../fonts/kayak_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sansregular_italic';
    src: url('../fonts/kayak_sans_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'Montserrat', arial, sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', arial, sans-serif;
  /*font-family: 'kayak_sansregular', arial, sans-serif;*/
}

p {
  font-family: 'Montserrat', arial, sans-serif;
}
/* define body using flexbox */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*makes site content fill the screen */
.site-content {
  flex: 1;
}

/* logo styles */
.logo {
  padding-left: 20px;

}
.footer-styles {
  background-color: #BFEFFF; /*#C3E4ED; #041E42; */
}

.bg-light {
  background-color: #fff!important;
}

/*footer styles */
footer {
  color: #fff;
  padding-left: 15px!important;
  padding-right: 15px!important;
}


.hero {
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
  height: 300px!important;
  background-color: rgba(0,0,0,.5);
  /*background-image: url("../img/computer.jpg");*/
}

.bio {
border: 10px solid #fff;
padding-top: 0px!important;
padding-left: 00px!important;
padding-right: 0px!important;

}

.left {

  border: 10px solid #fff;
  padding: 0px;
}

.name-styles {
  margin-bottom: 0px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

/* to center flex-items */
.flex-item {
   margin: auto;
}

.header {
  background-color: #041E42; /* #28274B; */
  height: 30px;
  color: #fff;
}

#header-styles {
  margin-top: 5px;
  font-size: 14px;
}

.icon-section {
  clear: right;
  margin-top: 5px;
}

.social-icons {
  color: rgba(0,0,0,.5);
}

a.social-icons {
  text-decoration: none;
}

a.social-icons:hover {
  color: #000;
}

.disclaimer {
  clear: both;
  font-size: 12px;
}

.nav-color {
  background-color: #041E42;
}

.navbar-toggler {
  border: 0px solid transparent;
}

.dropstyles{
  margin-top: 0px;
  margin-left: 5px
  border-radius: 0px;
  border: 3px solid #bfbfbf;

}


/* Footer Styles
-------------------------------------------------- */

.subfooter {
	padding: 20px 0 10px 5px;
	color: #28274B;
	width: 100%;
	border-bottom: 1px solid #28274B;
}

.footer-links {
	margin: 20px 0 12px;
	padding: 0;
	list-style: none;
}
.footer-links > li {
	color: #28274B;
	display: block;
	font-weight: normal;
}

.first, .footer-state-links li {
	color: #28274B;
	display: block;
	font-weight: 600;
}
.footer-links a, .ft-sidebar a {
	color: #28274B;
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	font-size: 13px;
}

.footer-links a:hover, .ft-sidebar a:hover {
	color: #28274B;
	display: inline-block;
	line-height: 1.8;
	text-decoration: underline;
	font-size: 13px;
}

.footer-links a:visited, .ft-sidebar a:visited {
	color: #28274B;
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	font-size: 13px;
}
.footer h3 {
	padding: 20px 0 10px 0px;
	color: #fff;
	width: 100%;
	border-bottom: 1px solid #000;
}
