@font-face {
    font-family: 'kayak_sansregular';
    src: url('../fonts/kayak_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sansbold_italic';
    src: url('../fonts/kayak_sans_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sansbold';
    src: url('../fonts/kayak_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sanslight_italic';
    src: url('../fonts/kayak_sans_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sanslight';
    src: url('../fonts/kayak_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kayak_sansregular_italic';
    src: url('../fonts/kayak_sans_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/kayak_sans_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'Montserrat', arial, sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', arial, sans-serif;
  /*font-family: 'kayak_sansregular', arial, sans-serif;*/
}

p {
  font-family: 'Montserrat', arial, sans-serif;
}
/* define body using flexbox */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*makes site content fill the screen */
.site-content {
  flex: 1;
}

/* logo styles */
.logo {
  padding-left: 20px;


}



.footer-styles {
  background-color: #000;
}

.bg-light {
  background-color: #fff!important;
}

/*footer styles */
footer {
  color: #fff;
  padding-left: 15px!important;
  padding-right: 15px!important;
}


.hero {
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
  height: 300px!important;
  background-color: rgba(0,0,0,.5);
  /*background-image: url("../img/computer.jpg");*/
}

.bio {
border: 10px solid #fff;
padding-top: 0px!important;
padding-left: 00px!important;
padding-right: 0px!important;

}

.left {

  border: 10px solid #fff;
  padding: 0px;
}

.name-styles {
  margin-bottom: 0px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

/* to center flex-items */
.flex-item {
   margin: auto;
}

.header {
  background-color: #041E42; /* #28274B; */
  height: 40px;
  color: #fff;
}

#header-styles {
  margin-top: 5px;
  font-size: 14px;
}

.social-icons {
  color: rgba(0,0,0,.5);
}

a.social-icons {
  text-decoration: none;
}

a.social-icons:hover {
  color: #000;
}



.disclaimer {
  clear: both;
  font-size: 12px;
}

.nav-color {
  background-color: #041E42;
}

.navbar-toggler {
  border: 0px solid transparent;
}
